<div class="row row-cols-3" data-controller="tic-tac-toe">
  <div class="col-12 border p-5 text-center" data-tic-tac-toe-target="message"></div>
  <% cells.each do |cell| %>
    <%= render cell %>
  <% end %>
  <div class="col-12 border p-5 text-center" data-tic-tac-toe-target="historic">
      <h3>Game History</h3>
    </div>
</div>

